.room-code {
  border: 2px solid var(--purple);
  border-radius: .8rem;

  display: flex;
  align-items: center;

  overflow: hidden;
  
  cursor: pointer;

  background: none;

  div {
    background-color: var(--purple);
    padding: 1rem 1.2rem;
  }

  span {
    padding: 1.2rem 1.7rem 1.2rem 1.2rem;
    font: 500 1.4rem 'Syne', sans-serif;
    background: none;
    color: var(--black);
  }
}