.question {
  background: var(--white-details);
  border-radius: .8rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 2.4rem;

  & + .question {
    margin-top: .8rem;
  }

  &.highlight {
    background: var(--bg-highlighted);
    border: solid 2px var(--purple);
    
    footer .user-info span {
      color: var(--black);
    }
  }
  
  &.answered {
    background: var(--gray-light)
  }

  p {
    color: var(--black);
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.4rem;

    .user-info {
      display: flex;
      align-items: center;
      gap: .8rem;

      img {
        height: 3.2rem;
        border-radius: 100%;
      }

      span {
        font-size: 1.4rem;
        color: var(--gray-dark)
      }
    }

    button {
      border: none;
      background: none;
      cursor: pointer;

      &.like-button {
        display: flex;
        align-items: flex-end;
        gap: .9rem;
        font: 1.6rem 'Syne', sans-serif;
        color: var(--gray-dark);

        &.liked {
          color: var(--purple);

          svg path {
            stroke: var(--purple);
          }
        }
      }
      
    }

    .buttons {
      display: flex;
      align-items: center;
      gap: 1.6rem;
    }
  }
}

$small: 300px;
$medium: 1020px;

@media screen and (min-width: $small) and (max-width: $medium) {
  .question {
    footer {
      flex-direction: column-reverse;
      padding-top: 2.5rem;
      gap: 1rem;
    }
  }
}