.button {
  color: var(--white-details);
      background: var(--purple);
      color: var(--white-details);
      font-weight: 500;
      
      border-radius: .8rem;
      border: none;

      padding-block: 1.55rem;
      padding-inline: 3.2rem;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: .8rem;

      &:not(:disabled):hover {
        background-color: var(--hover-purple);
        transition: color .5s;
      }

      &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
      }
}