header {

  border-bottom: 1px solid var(--line-border);

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 16rem;

    padding-top: 2.1rem;
    padding-bottom: 2.4rem;

    .logo {
      max-width: 10rem;
    }

    .buttons {
      display: flex;
      align-items: center;
      gap: .9rem;

    }
  }
}

main {
  padding-top: 6.4rem;
  padding-inline: 32rem;

  .room-title {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    
    margin-bottom: 2.4rem;

    h1 {
      font: 2.4rem 700 'Bodoni Moda', sans-serif;
    }

    span {
      background: var(--pink-dark);
      border-radius: 5.1rem;
      color: var(--white-details);
      padding: .8rem 1.6rem;
    }
  }

  form {
    textarea {
      width: 100%;
      margin-bottom: 1.6rem;
      height: 13.3rem;
      padding: 1.6rem;

      border: none;
      border-radius: .8rem;

      outline: none;

      caret-color: var(--purple);

      resize: vertical;

      background: var(--white-details);
      color: var(--black);
    }


// ==========Usuario não autenticado==========
    .form-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        font:  1.4rem 500 'Bodoni Moda', sans-serif;
        color: var(--gray-dark);

        button {
          background: none;
          color: var(--purple);
          border: none;
          text-decoration: underline;

          cursor: pointer;
        }
      }

    }

// ==========Usuario não autenticado==========
    .form-footer {
      .user-info {
        display: flex;
        align-items: center;
        gap: .8rem;

        img {
          max-width: 3.2rem;
          border-radius: 100%;
        }

        span {
          color: var(--black);
        }
      }
    }
  }

  .question-list {
    margin-top: 3.2rem;

  }
}

$small: 300px;
$medium: 1020px;

@media screen and (min-width: $small) and (max-width: $medium) {
  #page-room {
    margin: auto;

    header {
      .content {
        padding-block: 2rem;
        padding-inline: 1rem;
        justify-content: center;

        .logo {
          display: none;
        }
      }
    }

    main {
      padding-block: 5.5rem;
      padding-inline: 2rem;

      display: flex;
      flex-direction: column;

      max-width: 52rem;
      margin: auto;
      
      .room-title {
        flex-direction: column;
        justify-content: center;
      }

      form {
        .form-footer {
          flex-direction: column-reverse;
          gap: 1.5rem;
        }
      }
    }
  }
}